@charset "utf-8"; 

/* basic-N10 [ZPlQnhS6oC] */
.basic-N10 .contents-container { position: relative; height: 62rem; }
.basic-N10 .contents-visual { width: 100%; height: 100%; object-fit: cover; }
.basic-N10 .contents-body { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1; padding: 0 1.6rem; }
.basic-N10 .textset { margin-bottom: 0; }
@media (max-width: 992px) {
 .basic-N10 .contents-container { height: 60rem; }
 .basic-N10 .textset.textset-visual .textset-tit { font-size: 4rem; }
}

/* basic-N16 [ZVlQNHTuK4] */
.basic-N16 { overflow: hidden; }
.basic-N16 .contents-container { position: relative; padding: 8rem 1.6rem; }
.basic-N16 .contents-banner { width: calc(100% + 67.2rem); height: 46rem; margin-left: -33.6rem; }
.basic-N16 .contents-img { width: 100%; height: 100%; object-fit: cover; }
@media (max-width: 992px) {
 .basic-N16 .contents-container { padding: 5rem 1.6rem; }
 .basic-N16 .contents-banner { width: calc(100% + 3.2rem); margin-left: -1.6rem; }
}

/* basic-N8 [TSLqAh6ZLN] */
.basic-N8 .contents-inner { padding: 8rem 1.6rem; }
.basic-N8 .contents-group { display: flex; justify-content: space-between; }
.basic-N8 .cardset { width: calc(50% + 4rem); padding-bottom: 10rem; }
.basic-N8 .cardset+.cardset { margin-top: 10rem; margin-left: -8rem; padding-bottom: 0; }
.basic-N8 .cardset-body { width: calc(100% - 10rem); }
.basic-N8 .cardset-figure { width: 100%; height: 44rem; }
@media (max-width: 992px) {
 .basic-N8 .contents-inner { padding: 5rem 1.6rem; }
 .basic-N8 .contents-group { flex-direction: column; padding: 0; }
 .basic-N8 .cardset { width: 100%; padding-bottom: 0; }
 .basic-N8 .cardset+.cardset { margin-left: 0; margin-top: 4rem; }
}

/* basic-N48 [xSLqNhtZkK] */
.basic-N48 { overflow: hidden; }
.basic-N48 .contents-inner { padding: 8rem 1.6rem; }
.basic-N48 .contents-container { position: relative; }
.basic-N48 .imageset { width: calc(100% + 48rem); height: 50rem; margin-left: -24rem; border-radius: 2rem; overflow: hidden; }
.basic-N48 .textset { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); margin-bottom: 0; width: calc(100% - 4.8rem); text-align: center; }
.basic-N48 .textset-tit { font-size: var(--fs-h4); line-height: var(--lh-h4); font-weight: 500; color: var(--text-color5); }
@media (max-width: 992px) {
 .basic-N48 .contents-inner { padding: 5rem 1.6rem; }
 .basic-N48 .imageset { width: 100%; margin-left: 0; }
}

/* basic-N9 [JclQaH6zLy] */
.basic-N9 { overflow: hidden; }
.basic-N9 .contents-inner { padding: 8rem 1.6rem; }
.basic-N9 .contents-container { position: relative; }
.basic-N9 .contents-container+.contents-container { width: calc(100% + 64rem); margin-top: -19.4rem; margin-left: -32rem; padding: 35.4rem 32rem 10rem 32rem; background-color: var(--highlight-bg); }
.basic-N9 .textset { margin-bottom: 6rem; }
.basic-N9 .textset .textset-desc { margin-top: 1.9rem; padding-right: 14.4rem; }
.basic-N9 .contents-swiper { width: calc(100% + 32rem); }
.basic-N9 .swiper-slide { width: calc(100% / 3); margin-right: 4rem; }
.basic-N9 .contents-control { position: absolute; right: 0; bottom: 44rem; display: flex; align-items: center; gap: 2.4rem; }
.basic-N9 .swiper-button-prev,.basic-N9 .swiper-button-next { flex-shrink: 0; position: static; margin-top: 0; width: 6rem; height: 6rem; border-radius: 50%; background-color: var(--highlight-bg); }
.basic-N9 .swiper-button-prev::after,.basic-N9 .swiper-button-next::after { content: ''; display: inline-block; width: 2.4rem; height: 2.4rem; background-repeat: no-repeat; background-position: center; background-size: contain; opacity: 0.7; }
.basic-N9 .swiper-button-prev:after { background-image: url("../../resources/icons/ico_arrow_black.svg"); transform: rotate(180deg); }
.basic-N9 .swiper-button-next:after { background-image: url("../../resources/icons/ico_arrow_black.svg"); }
.basic-N9 .swiper-button-prev:hover::after,.basic-N9 .swiper-button-next:hover::after { opacity: 1; }
.basic-N9 .contents-bottom .textset-desc { padding-right: 0; }
.basic-N9 .cardset.cardset-inner .cardset-figure { height: 38rem; }
.basic-N9 .contents-cardset { display: flex; align-items: center; }
.basic-N9 .contents-cardset .cardset { width: calc(100% / 3); }
.basic-N9 .contents-cardset .cardset+.cardset { margin-left: 4rem; }
.basic-N9 .contents-btn { margin-top: 4rem; text-align: center; }
@media (max-width: 992px) {
 .basic-N9 .contents-inner { padding: 5rem 1.6rem; }
 .basic-N9 .contents-container+.contents-container { width: calc(100% + 3.2rem); margin-top: -28.8rem; margin-left: -1.6rem; padding: 38.8rem 1.6rem 8rem 1.6rem; }
 .basic-N9 .textset { margin-bottom: 4rem; }
 .basic-N9 .textset .textset-desc { padding-right: 0; }
 .basic-N9 .contents-control { position: relative; bottom: 0; justify-content: flex-end; margin-bottom: 4rem; }
 .basic-N9 .contents-swiper { width: 100%; }
 .basic-N9 .swiper-slide { width: 100%; margin-right: 2rem; }
 .basic-N9 .contents-cardset { flex-direction: column; }
 .basic-N9 .contents-cardset .cardset { width: 100%; }
 .basic-N9 .contents-cardset .cardset+.cardset { margin-left: 0; }
}

/* basic-N3 [TUlQaVKtfv] */
.basic-N3 { position: relative; top: -100%; left: 0; width: 100%; z-index: 200; transition: 0.3s; background-color: var(--white); }
.basic-N3.header-top-active { position: fixed; top: 0; }
.basic-N3.header-menuactive .header-inner { z-index: 200; }
.basic-N3.header-menuactive .header-inner::before { height: 37.3rem; }
.basic-N3.header-menuactive .header-gnblist { position: absolute; top: calc(100% + 12rem); left: 50%; transform: translateX(-50%); }
.basic-N3.header-menuactive .header-gnblink { font-size: var(--fs-h4); line-height: var(--lh-h4); font-weight: 400; }
.basic-N3.header-menuactive .header-utils .header-btn { display: none; }
.basic-N3.header-menuactive .header-utils .btn-close { display: block; }
.basic-N3 .header-inner { position: relative; width: 100%; height: 8rem; background-color: var(--white); }
.basic-N3 .header-inner::before { content: ''; position: absolute; top: 0; left: 0; height: 8rem; width: 100%; background-color: var(--white); z-index: -1; transition: 0.3s; }
.basic-N3 .header-container { display: flex; justify-content: space-between; height: 100%; padding: 2.4rem 8rem; }
.basic-N3 .header-title a { width: 10.6rem; height: 3.3rem; }
.basic-N3 .header-title img { width: 100%; height: 100%; object-fit: contain; }
.basic-N3 .header-left { display: flex; align-items: center; gap: 8.5rem; }
.basic-N3 .header-mobile-top { display: none; }
.basic-N3 .header-mobile-group .btn-close { display: none; position: absolute; top: 1.4rem; right: calc(100% + 0.8rem); }
.basic-N3 .header-gnblist { display: flex; align-items: center; }
.basic-N3 .header-gnbitem:hover .header-gnblink span::after,.basic-N3 .header-gnbitem.item-active .header-gnblink span::after { content: ''; display: inline-block; position: absolute; left: 0; top: 100%; background-color: var(--primary); transform: scaleX(1); }
.basic-N3 .header-gnbitem+.header-gnbitem .header-gnblink { padding-left: 3rem; }
.basic-N3 .header-gnbitem:last-child .header-gnblink { padding-right: 0; }
.basic-N3 .header-gnblink { padding-right: 3rem; font-size: var(--fs-p3); line-height: var(--lh-p3); font-weight: 600; text-align: center; white-space: nowrap; }
.basic-N3 .header-gnblink span { position: relative; }
.basic-N3 .header-gnblink span::after { content: ''; height: 0.2rem; width: 100%; transition: 0.3s; transform: scaleX(0); }
.basic-N3 .header-right { display: flex; }
.basic-N3 .header-btn { width: 3.2rem; height: 3.2rem; background: none; border: none; }
.basic-N3 .header-btn img { width: 100%; height: 100%; object-fit: cover; vertical-align: top; }
.basic-N3 .header-utils { display: flex; }
.basic-N3 .header-utils .header-btn+.header-btn { margin-left: 1.2rem; }
.basic-N3 .header-utils .btn-close { display: none; position: relative; z-index: 200; }
.basic-N3 .header-utils .btn-momenu { display: none; }
.basic-N3 .header-dim { display: none; position: fixed; top: 0; left: 0; z-index: 10; width: 100%; height: 100%; background-color: rgba(17, 17, 17, 0.7); }
@media (max-width: 1200px) {
 .basic-N3 .header-container { padding: 2.4rem; }
 .basic-N3 .header-left { gap: 4rem; }
}
@media (max-width: 992px) {
 .basic-N3.momenu-active .header-mobile-group { right: 0; width: calc(100% - 10rem); }
 .basic-N3.momenu-active .header-gnblist { display: block; height: 100%; overflow-y: auto; }
 .basic-N3.momenu-active .header-gnbitem.item-active .header-gnblink::after { content: ''; transform: rotate(180deg); }
 .basic-N3.momenu-active .header-mobile-group .btn-close { display: block; }
 .basic-N3 .header-inner { height: 6rem; }
 .basic-N3 .header-inner::before { content: none; }
 .basic-N3 .header-container { align-items: center; padding: 0 1.6rem; }
 .basic-N3 .header-left { gap: 0; }
 .basic-N3 .header-title a { width: 8.2rem; height: 2.6rem; }
 .basic-N3 .header-mobile-group { flex-direction: column; position: fixed; top: 0; right: -100%; width: 100%; height: 100%; background-color: var(--white); z-index: 200; transition: 0.3s; }
 .basic-N3 .header-mobile-top { height: 6rem; display: flex; align-items: center; justify-content: space-between; padding: 0 2rem; }
 .basic-N3 .header-mobile-top p { font-size: var(--fs-p3); color: var(--text-color3); }
 .basic-N3 .header-mobile-top a { font-size: var(--fs-p3); font-weight: 500; }
 .basic-N3 .header-gnbitem:hover, .basic-N3 .header-gnbitem.item-active { background-color: var(--highlight-bg); }
 .basic-N3 .header-gnbitem:hover .header-gnblink span::after, .basic-N3 .header-gnbitem.item-active .header-gnblink span::after { content: none; }
 .basic-N3 .header-gnblink { width: 100%; padding: 1.4rem 2rem !important; font-size: var(--fs-p3); font-weight: 500; text-align: left; }
 .basic-N3 .header-btn { width: 2.8rem; height: 2.8rem; }
 .basic-N3 .header-utils .btn-allmenu, .basic-N3 .header-utils .btn-user { display: none; }
 .basic-N3 .header-utils .btn-momenu { display: block; }
}

/* basic-N34 [VELQAVN9vs] */
.basic-N34 .contents-inner { padding: 4rem 1.6rem; }
.basic-N34 .textset { margin-bottom: 0; }
.basic-N34 .textset-tit { font-size: var(--fs-h1); line-height: var(--lh-h1); }
.basic-N34 .textset-tit+.textset-desc { margin-top: 0.8rem; font-size: var(--fs-p1); line-height: var(--lh-p1); }
@media (max-width: 992px) {
 .basic-N34 .contents-inner { padding: 5rem 1.6rem; }
}

/* basic-N54 [mqLqAvmR0h] */
.basic-N54 .contents-inner { padding: 4rem 1.6rem; }
.basic-N54 .tabset { margin-bottom: 4rem; }
.basic-N54 .contents-group { display: flex; flex-wrap: wrap; width: calc(100% + 4rem); margin-left: -2rem; }
.basic-N54 .cardset { padding: 2rem; width: calc(100% / 3); }
.basic-N54 .cardset-figure { height: 30rem; }
.basic-N54 .cardset-figure+.cardset-body { margin-top: 2rem; }
.basic-N54 .cardset-tit { font-size: var(--fs-p1); line-height: var(--lh-p1); }
.basic-N54 .cardset-desc { margin-top: 0.8rem; }
.basic-N54 .pagiset { margin-top: 4rem; }
@media (max-width: 992px) {
 .basic-N54 .contents-inner { padding: 5rem 1.6rem; }
 .basic-N54 .contents-group { width: 100%; margin-left: 0; }
 .basic-N54 .cardset { width: 100%; padding: 0; }
}

/* basic-N50 [VplQc2XyUv] */
.basic-N50 .contents-inner { padding: 8rem 1.6rem; }
.basic-N50 .contents-container { position: relative; }
.basic-N50 .textset { display: flex; align-items: center; justify-content: space-between; }
.basic-N50 .contents-btn { width: 2.4rem; height: 2.4rem; background-color: transparent; border: 0; }
.basic-N50 .contents-btn img { width: 100%; height: 100%; object-fit: contain; vertical-align: top; }
.basic-N50 .btn-filter { display: none; }
.basic-N50 .contents-body { display: flex; justify-content: space-between; gap: 4rem; }
.basic-N50 .contents-left { width: 29rem; background-color: var(--white); }
.basic-N50 .contents-filter-header,.basic-N50 .contents-filter-footer { display: none; }
.basic-N50 .contents-right { width: 100%; max-width: 95rem; overflow: hidden; }
.basic-N50 .contents-sort { display: flex; justify-content: space-between; flex-wrap: wrap; align-items: center; gap: 2rem; padding: 2rem 0; border-top: 1px solid var(--line-color3); border-bottom: 1px solid var(--border-color); }
.basic-N50 .contents-sort-total { font-size: var(--fs-p3); line-height: var(--lh-p3); color: var(--text-color3); }
.basic-N50 .contents-sort-total span { font-weight: 600; color: var(--text-color1); }
.basic-N50 .contents-sort-sel { display: flex; align-items: center; gap: 2rem; }
.basic-N50 .contents-sort .tabset .tabset-list { justify-content: flex-start; }
.basic-N50 .contents-sort .selectset { width: auto; min-width: 14rem; max-width: 14rem; }
.basic-N50 .contents-list { display: flex; flex-wrap: wrap; margin: 2rem -2rem 4rem -2rem; }
.basic-N50 .contents-list .cardset { width: calc(100% / 3); padding: 2rem; }
.basic-N50 .contents-list .cardset-figure { height: 30rem; }
.basic-N50 .contents-dim { display: none; position: fixed; top: 0; left: 0; z-index: 200; width: 100%; height: 100%; background-color: rgba(17, 17, 17, 0.7); }
@media (max-width: 992px) {
 .basic-N50.filter-active .contents-left { width: calc(100% - 10rem); top: 0; right: 0; opacity: 1; visibility: visible; }
 .basic-N50.filter-active .contents-dim { display: block; }
 .basic-N50 .contents-inner { padding: 5rem 1.6rem; }
 .basic-N50 .textset-tit { max-width: calc(100% - 2.4rem); }
 .basic-N50 .contents-filter-header, .basic-N50 .contents-filter-footer { display: block; }
 .basic-N50 .contents-filter-header { display: flex; justify-content: space-between; align-items: center; padding: 1.6rem 1.6rem 1.6rem 2rem; }
 .basic-N50 .contents-filter-header strong { font-size: 1.6rem; font-weight: 500; }
 .basic-N50 .contents-filter-header .btn-close { width: 2.8rem; height: 2.8rem; }
 .basic-N50 .contents-filter-body { overflow-y: auto; height: 100%; padding-bottom: 22rem; }
 .basic-N50 .contents-filter-body .accordset { border-top: 0; }
 .basic-N50 .contents-filter-footer { display: flex; justify-content: flex-end; align-items: center; gap: 0.4rem; position: absolute; right: 0; bottom: 0; width: 100%; padding: 1.6rem; box-shadow: 0 0 3rem 0 rgba(var(--black-rgb), 0.1); background-color: var(--white); }
 .basic-N50 .contents-filter-footer span { font-size: 1.4rem; }
 .basic-N50 .btn-filter { display: block; }
 .basic-N50 .contents-left { position: fixed; right: -100%; opacity: 0; visibility: visible; width: 0; height: 100%; transition: 0.4s; z-index: 300; }
 .basic-N50 .contents-sort-sel { flex-wrap: wrap; width: 100%; }
 .basic-N50 .contents-sort .selectset { width: 100%; max-width: 100%; }
 .basic-N50 .contents-list { margin: 2rem -1rem 2rem -1rem; }
 .basic-N50 .contents-list .cardset { width: calc(100% / 2); padding: 2rem 1rem; }
 .basic-N50 .contents-list .cardset+.cardset { margin-top: 0; }
 .basic-N50 .contents-list .cardset-figure { height: 15rem; }
}
