<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.kh.auction.user.dao.ArtsDAO">

<select id="getListCount" resultType="_int">
select count(*) from product where PRO_AMOUNT >0 and PRO_STATUS = 'Y'
<if test="keyword != null"> and (PRO_NAME like '%'||#{keyword}||'%' or PRO_WRITER like '%'||#{keyword}||'%') </if>
<if test="materiallist != null">
and PRO_MATERIAL IN
<foreach collection="materiallist" item="material" open="(" separator="," close=")"> #{material} </foreach>
</if>
<if test="minPrice != 0">
and PRO_PRICE
<![CDATA[ >= ]]>
#{minPrice}
</if>
<if test="maxPrice != 0">
and PRO_PRICE
<![CDATA[ <= ]]>
#{maxPrice}
</if>
<if test="minHeight != 0">
and PRO_HEIGHT
<![CDATA[ >= ]]>
#{minHeight}
</if>
<if test="maxHeight != 0">
and PRO_HEIGHT
<![CDATA[ <= ]]>
#{maxHeight}
</if>
<if test="minWidth != 0">
and PRO_WIDTH
<![CDATA[ >= ]]>
#{minWidth}
</if>
<if test="maxWidth != 0">
and PRO_WIDTH
<![CDATA[ <= ]]>
#{maxWidth}
</if>
</select>
<select id="selectArtslist" resultMap="promap">
SELECT * FROM PRODUCT where PRO_AMOUNT >0 and PRO_STATUS = 'Y'
<if test="keyword != null"> and (PRO_NAME like '%'||#{keyword}||'%' or PRO_WRITER like '%'||#{keyword}||'%') </if>
<if test="materiallist != null">
and PRO_MATERIAL IN
<foreach collection="materiallist" item="material" open="(" separator="," close=")"> #{material} </foreach>
</if>
<if test="minPrice != 0">
and PRO_PRICE
<![CDATA[ >= ]]>
#{minPrice}
</if>
<if test="maxPrice != 0">
and PRO_PRICE
<![CDATA[ <= ]]>
#{maxPrice}
</if>
<if test="minHeight != 0">
and PRO_HEIGHT
<![CDATA[ >= ]]>
#{minHeight}
</if>
<if test="maxHeight != 0">
and PRO_HEIGHT
<![CDATA[ <= ]]>
#{maxHeight}
</if>
<if test="minWidth != 0">
and PRO_WIDTH
<![CDATA[ >= ]]>
#{minWidth}
</if>
<if test="maxWidth != 0">
and PRO_WIDTH
<![CDATA[ <= ]]>
#{maxWidth}
</if>
<choose>
<when test="order == 'high'"> order by pro_price desc </when>
<when test="order == 'low'"> order by pro_price asc </when>
<otherwise>order by pro_no desc</otherwise>
</choose>
</select>
<resultMap type="Product" id="promap">
<id column="PRO_NO" property="proNo"/>
<result column="PRO_NAME" property="proName"/>
<result column="PRO_WRITER" property="proWriter"/>
<result column="PRO_MATERIAL" property="proMaterial"/>
<result column="PRO_HEIGHT" property="proHeight"/>
<result column="PRO_WIDTH" property="proWidth"/>
<result column="PRO_DATE" property="proDate"/>
<result column="PRO_PRICE" property="proPrice"/>
<result column="PRO_AMOUNT" property="proAmount"/>
</resultMap>
<select id="selectWishlist" resultMap="wismap"> select * from wishlist join product using(pro_no) where mem_id = #{loginid} </select>
<resultMap type="Wishlist" id="wismap">
<id column="MEM_ID" property="memId"/>
<id column="PRO_NO" property="proNo"/>
<result column="WIS_AMOUNT" property="wisAmount"/>
<result column="PRO_PRICE" property="proPrice"/>
<result column="PRO_AMOUNT" property="proAmount"/>
<result column="PRO_NAME" property="proName"/>
<result column="PRO_WRITER" property="proWriter"/>
</resultMap>
<select id="selectArts" resultMap="promap"> SELECT * FROM PRODUCT where PRO_NO = #{proNo} </select>
<update id="updatewishlist"> update wishlist set WIS_AMOUNT = #{wisAmount} where MEM_ID = #{memId} and PRO_NO = #{proNo} </update>
<delete id="deletewis"> delete from wishlist where MEM_ID = #{memId} and PRO_NO = #{proNo} </delete>
<delete id="deletewishlist">
delete from wishlist where MEM_ID = #{memId} and PRO_NO IN
<foreach collection="pronos" item="proNo" open="(" separator="," close=")"> #{proNo} </foreach>
</delete>
<insert id="insertAddress">
insert into address values(ADD_SEQ.NEXTVAL,#{ordNo},#{receiver},#{address},#{receiverPhone},'X',#{memId},DEFAULT)
<selectKey resultType="int" keyProperty="addNo" order="AFTER"> SELECT ADD_SEQ.CURRVAL from DUAL </selectKey>
</insert>
<insert id="insertOrder"> insert into orders values(#{ordNo},SYSDATE,DEFAULT,#{ordMessage},#{ordPoPrice},#{ordCaPrice}, ${ordPoPrice}+${ordCaPrice},#{ordMethod},#{memId},#{addNo}) </insert>
<delete id="deletewisAll"> delete from wishlist where MEM_ID = #{loginid} </delete>
<insert id="insertOrderDetail"> insert into order_detail values(#{ordNo},#{proNos},#{odtNum}) </insert>
<insert id="addtowishlist"> insert into wishlist values(#{memId}, #{proNo}, #{wisAmount}) </insert>
<select id="selectWish" resultType="_int"> select count(*) from wishlist where MEM_ID = #{memId} and PRO_NO = #{proNo} </select>
<update id="updatepointBonus"> update member set MEM_BALANCE = (SELECT MEM_BALANCE from member where MEM_ID = #{memId})-#{usedPoint}+#{pointBonus} where mem_id = #{memId} </update>
<update id="updatememAcc">
update member set MEM_ACC = (select MEM_ACC from member where MEM_ID = #{memId})+#{amount} where MEM_ID = #{memId}
<selectKey resultType="int" keyProperty="memAcc" order="AFTER"> select MEM_ACC from member where MEM_ID = #{memId} </selectKey>
</update>
<update id="updateGrade"> update member set MEM_RATING = #{grade} where MEM_ID = #{memId} </update>
<update id="updateProductamount"> update product set PRO_AMOUNT = (select PRO_AMOUNT from product where PRO_NO = #{proNos})-#{odtNum} where PRO_NO = #{proNos} </update>
<update id="updatePoint">
update member set MEM_BALANCE = (select MEM_BALANCE from member where MEM_ID = #{memId})+#{amount}, MEM_ACC = (select MEM_ACC from member where MEM_ID = #{memId})+#{amount} where MEM_ID = #{memId}
<selectKey resultType="int" keyProperty="memAcc" order="AFTER"> select MEM_ACC from member where MEM_ID = #{memId} </selectKey>
</update>
<select id="selectAddresslist"> select * from address where MEM_ID = #{memId} order by ADD_NO DESC </select>



<select id="selectAttmlist">
select * from ATTACHMENT where ATT_BNO IN
<foreach collection="list" item="p" open="(" close=")" separator=","> #{p.proNo} </foreach>
AND ATT_STATUS = 'Y' AND ATT_CATEGORY = '4' order by ATT_FNO ASC
</select>



<select id="selectPoint"> select MEM_BALANCE from MEMBER where MEM_ID = #{memId} </select>
<select id="getlistCountadmin" resultType="_int">
select count(*) from product where PRO_STATUS = 'Y'
<if test="keyword != ''">
<choose>
<when test="condition == 'proNo'">and PRO_NO like '%'||#{keyword}||'%' </when>
<when test="condition == 'proName'"> and PRO_NAME like '%'||#{keyword}||'%' </when>
<when test="condition == 'proWriter'">and PRO_WRITER like '%'||#{keyword}||'%' </when>
<when test="condition == 'proMaterial'">and PRO_MATERIAL like '%'||#{keyword}||'%'</when>
<otherwise>
<choose>
<when test="isInt == true">and PRO_NO like '%'||#{keyword}||'%' or PRO_NAME like '%'||#{keyword}||'%' or PRO_WRITER like '%'||#{keyword}||'%' or PRO_MATERIAL like '%'||#{keyword}||'%'</when>
<otherwise>and PRO_NAME like '%'||#{keyword}||'%' or PRO_WRITER like '%'||#{keyword}||'%' or PRO_MATERIAL like '%'||#{keyword}||'%'</otherwise>
</choose>
</otherwise>
</choose>
</if>
<if test="minWidth != 0">
and PRO_WIDTH
<![CDATA[ >= ]]>
#{minWidth}
</if>
<if test="maxWidth != 0">
and PRO_WIDTH
<![CDATA[ <= ]]>
#{maxWidth}
</if>
<if test="minHeight != 0">
and PRO_HEIGHT
<![CDATA[ >= ]]>
#{minHeight}
</if>
<if test="maxHeight != 0">
and PRO_HEIGHT
<![CDATA[ <= ]]>
#{maxHeight}
</if>
<if test="minPrice != 0">
and PRO_PRICE
<![CDATA[ >= ]]>
#{minPrice}
</if>
<if test="maxPrice != 0">
and PRO_PRICE
<![CDATA[ <= ]]>
#{maxPrice}
</if>
<if test="startDate != null">
and PRO_DATE
<![CDATA[ >= ]]>
#{startDate}
</if>
<if test="endDate != null">
and PRO_DATE
<![CDATA[ <= ]]>
#{endDate}
</if>
</select>
<select id="selectArtslistadmin">
select * from product where PRO_STATUS = 'Y'
<if test="keyword != ''">
<choose>
<when test="condition == 'proNo'">and PRO_NO like '%'||#{keyword}||'%' </when>
<when test="condition == 'proName'"> and PRO_NAME like '%'||#{keyword}||'%' </when>
<when test="condition == 'proWriter'">and PRO_WRITER like '%'||#{keyword}||'%' </when>
<when test="condition == 'proMaterial'">and PRO_MATERIAL like '%'||#{keyword}||'%'</when>
<otherwise>
<choose>
<when test="isInt == true">and PRO_NO like '%'||#{keyword}||'%' or PRO_NAME like '%'||#{keyword}||'%' or PRO_WRITER like '%'||#{keyword}||'%' or PRO_MATERIAL like '%'||#{keyword}||'%'</when>
<otherwise>and PRO_NAME like '%'||#{keyword}||'%' or PRO_WRITER like '%'||#{keyword}||'%' or PRO_MATERIAL like '%'||#{keyword}||'%'</otherwise>
</choose>
</otherwise>
</choose>
</if>
<if test="minWidth != 0">
and PRO_WIDTH
<![CDATA[ >= ]]>
#{minWidth}
</if>
<if test="maxWidth != 0">
and PRO_WIDTH
<![CDATA[ <= ]]>
#{maxWidth}
</if>
<if test="minHeight != 0">
and PRO_HEIGHT
<![CDATA[ >= ]]>
#{minHeight}
</if>
<if test="maxHeight != 0">
and PRO_HEIGHT
<![CDATA[ <= ]]>
#{maxHeight}
</if>
<if test="minPrice != 0">
and PRO_PRICE
<![CDATA[ >= ]]>
#{minPrice}
</if>
<if test="maxPrice != 0">
and PRO_PRICE
<![CDATA[ <= ]]>
#{maxPrice}
</if>
<if test="startDate != null">
and PRO_DATE
<![CDATA[ >= ]]>
#{startDate}
</if>
<if test="endDate != null">
and PRO_DATE
<![CDATA[ <= ]]>
#{endDate}
</if>
order by PRO_NO DESC
</select>
<update id="deleteArts"> update product set PRO_STATUS = 'N' where PRO_NO = #{proNo} </update>
<insert id="insertProduct">
insert into product values(PRO_SEQ.NEXTVAL,#{proName},#{proWriter},#{proMaterial},#{proHeight},#{proWidth},SYSDATE,'1',#{proPrice},#{proAmount},DEFAULT,DEFAULT)
<selectKey resultType="int" keyProperty="proNo" order="AFTER"> select PRO_SEQ.CURRVAL from DUAL </selectKey>
</insert>
<insert id="insertAttachment"> insert into attachment values(ATT_SEQ.nextval, #{attRename}, DEFAULT,#{attFno},#{attCategory},#{attBno}) </insert>
<update id="updateArts"> update product set PRO_NAME = #{proName}, PRO_WRITER = #{proWriter}, PRO_MATERIAL = #{proMaterial}, PRO_HEIGHT = #{proHeight}, PRO_WIDTH = #{proWidth}, PRO_PRICE = #{proPrice}, PRO_AMOUNT = #{proAmount} where PRO_NO = #{proNo} </update>
<delete id="deleteAttachment">
delete from attachment where ATT_BNO = #{proNo} and ATT_NO IN
<foreach collection="attNos" item="attNo" open="(" separator="," close=")"> #{attNo} </foreach>
</delete>
<insert id="insertPayment"> insert into payment values(#{impUid},#{ordNo},#{buyPhone},#{buyEmail}) </insert>
<update id="updateThumb">
<choose>
<when test="setthumlevel == 1"> update attachment set ATT_FNO = 1 where ATT_NO = #{thumimgNo} </when>
<when test="setthumlevel == 2"> update attachment set ATT_FNO = #{attFno} where ATT_BNO = #{bNo} and ATT_FNO = 1 </when>
</choose>
</update>

<select id = "selectMimicArts">

select * 
from product
where pro_material = (select pro_material from product where pro_no = #{proNo}) and rownum <![CDATA[ <= ]]>9 
and pro_status = 'Y' and pro_amount > 0 and pro_no != #{proNo}
order by pro_no desc
</select>


<select id = "selectSellstatic">

   select pro_no,sum(odt_num) "SELL_AMOUNT"
         from order_detail
         group by pro_no
        order by sum(odt_num) desc
		
</select>


<select id = "selectSelldata">

select *
from (select pro_no,pro_name,odt_num,TO_CHAR(ord_date, 'YYYY-MM-DD/HH24:MI:SS') ORD_DATE
from orders join order_detail using (ord_no) join product using(pro_no)      
order by ord_date desc)
where rownum <![CDATA[ <= ]]>1

</select>


<select id = "selectAttmlistforsell">
select * 
from ATTACHMENT 
where ATT_BNO = '9999' AND ATT_STATUS = 'Y' AND ATT_CATEGORY = '4' AND ATT_FNO = '1'
</select>

<select id="getWishCount">
	SELECT COUNT(*)
	FROM WISHLIST
	WHERE MEM_ID = #{memId}
</select>

</mapper>