<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.kh.auction.user.dao.ConsignmentDAO">
	<insert id="insertConsignment" useGeneratedKeys="true">								<!-- 게시글 등록 -->
		<selectKey order="BEFORE" resultType="_int" keyProperty="conNo">
			select CON_SEQ.nextval from dual
		</selectKey>
		insert into CONSIGNMENT
		values (#{conNo}, #{conAuthor}, #{conProduct}, #{conWidth}, #{conHeight}, #{conYear}, #{conHope}, #{conEtc}, 
				default, default, sysdate, #{memId}, default)
	</insert>
	   
	<insert id="insertAttm">															<!-- 첨부파일 등록 -->
		insert all
		<foreach collection="list" item="item">
			into attachment
			values(ATT_NEW, #{item.attRename}, default, #{item.attFno}, #{item.attCategory}, #{item.attBno})
		</foreach>
		select * from dual
	</insert>
	
	
	<select id="getListCount" resultType="_int">										<!-- 마이페이지 리스트 -->
		select count(*)	
		from consignment 
		where CON_DEL_STATUS = 'Y' and mem_id = #{memId}
	</select>
	
	<select id="selectConsignmentList" resultType="Consignment">						<!-- 마이페이지 리스트 -->
		select *
		from consignment
		where CON_DEL_STATUS = 'Y' and mem_id = #{memId}
		order by CON_NO desc
	</select>
	
	<select id="searchCount" resultType="_int">											<!-- 마이페이지 조건 검색 -->
		select count(*)
		from CONSIGNMENT
		where con_del_status = 'Y' and mem_id = #{memId}
		<if test="keyword != null">
			<if test="select == '전체'">
				 and (con_author like '%'|| #{keyword} ||'%' or con_product like '%'|| #{keyword} ||'%')
			</if>
			<if test="select == '작가명'">
				 and con_author like '%'|| #{keyword} ||'%'
			</if>
			<if test="select == '작품명'">
				 and con_product like '%'|| #{keyword} ||'%'
			</if>					
		</if>
		<if test="strDate != null and endDat != null">	
			<if test="strDate != '' and endDat == ''">
				 and CON_CREATE_DATE <![CDATA[ >= ]]> #{strDate}
			</if> 
			<if test="strDate == '' and endDat != ''">
				 and CON_CREATE_DATE <![CDATA[ <= ]]> #{endDat}
			</if> 
			<if test="strDate != '' and endDat != ''">
				 and CON_CREATE_DATE between #{strDate} and #{endDat}
				 <!-- to_date( #{strDate}, 'YYYY/MM/DD') and to_date(#{endDate}, 'YYYY/MM/DD') -->
			</if>
		</if>	 
	</select>
	
	<select id="searchList" resultType="Consignment">									<!-- 마이페이지 조건 검색 -->
		select *
		from CONSIGNMENT
		where con_del_status = 'Y' and mem_id = #{memId}	 		 
		<if test="keyword != null">
			<if test="select == '전체'">
				and (con_author like '%'|| #{keyword} ||'%' or con_product like '%'|| #{keyword} ||'%')
			</if>
			<if test="select == '작가명'">
				and con_author like '%'|| #{keyword} ||'%'
			</if>
			<if test="select == '작품명'">
				and con_product like '%'|| #{keyword} ||'%'
			</if>
		</if>	
		<if test="strDate != null and endDat != null">	
			<if test="strDate != '' and endDat == ''">
	            and CON_CREATE_DATE <![CDATA[ >= ]]> #{strDate}
	        </if> 
			<if test="strDate == '' and endDat != ''">
	            and CON_CREATE_DATE <![CDATA[ <= ]]> #{endDat}
	        </if> 
	        <if test="strDate != '' and endDat != ''">
	            and CON_CREATE_DATE between #{strDate} and #{endDat}
	            <!-- to_date( #{strDate}, 'YYYY/MM/DD') and to_date(#{endDate}, 'YYYY/MM/DD') -->
	        </if> 
		order by CON_CREATE_DATE desc
		</if>
	</select>
	
	<select id="selectConsignment" resultType="Consignment">							<!-- 상세조회 -->
		select *
		from consignment 
		where CON_DEL_STATUS = 'Y' and CON_NO = #{conNo}
	</select>
	
	<select id="selectAttmConsignmentList" resultType="Attachment">						<!-- 상세조회 -->
		select *
		from attachment
		where ATT_STATUS = 'Y'
		<if test="conNo == null">
			and att_fno = 0
		</if>
		<if test="conNo != null">
			and att_bno = #{conNo}
		</if>
		order by att_no
	</select>
	
	<update id="updateConAdmStatus">													<!-- 관리자 열람여부 변경 -->
		update consignment
		set con_adm_status = 'Y'
		where con_no=#{conNo}
	</update>
	
	<select id="selectMember" resultType="Member">										<!-- 상세조회 멤버 가져옴 -->								
		select *
		from member
		 	 join consignment using(mem_Id)
		where con_no=#{conNo}
	</select>
	
	<update id="deleteConsignment">														<!-- 글 삭제 -->
		update consignment
		set CON_DEL_STATUS = 'N'
		where con_no = #{conNo}	
	</update>
	
	<update id="statusNConsignment">													<!-- 글 삭제 -->
		update attachment
		set ATT_STATUS = 'N'
		where att_bno = #{conNo}
	</update>
	
	<update id="updateConsignment">														<!-- 글 내용(글) 수정 -->
		update consignment
		set con_author=#{conAuthor}, con_product=#{conProduct}, con_Width=#{conWidth}, con_height=#{conHeight},
			con_year=#{conYear}, con_hope=#{conHope}, con_etc=#{conEtc}, con_create_date = sysdate
		where con_No=#{conNo}
	</update>
	
	<update id="updateAttmFno">															<!-- 글 수정(첨부) -->
		update attachment
		set att_rename = #{attRename}
		where att_bno=#{attBno} and att_fno = #{attFno}
	</update>

	

	
	<!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  -->
	


	<select id="searchCount2" resultType="_int">										<!-- 관리자 조건 검색 -->
		select count(*)
		from consignment
		WHERE 1=1 
		<if test="keyword != null">
			<if test="select == '전체'">
				and (con_author like '%'|| #{keyword} ||'%' or con_product like '%'|| #{keyword} ||'%')
			</if>
			<if test="select == '작가명'">
				and con_author like '%'|| #{keyword} ||'%'
			</if>
			<if test="select == '작품명'">
				and con_product like '%'|| #{keyword} ||'%'
			</if>			
		</if>
			<if test="strDate != null and endDat == null">
				and CON_CREATE_DATE <![CDATA[ >= ]]> #{strDate}
			</if> 
			<if test="strDate == null and endDat != null">
				and CON_CREATE_DATE <![CDATA[ <= ]]> #{endDat}
			</if> 
			<if test="strDate != null and endDat != null">
				and CON_CREATE_DATE between #{strDate} and #{endDat}
			</if> 
			<if test="status != null">
				and con_del_status = #{status}
			</if>
	</select>

	<select id="searchList2" resultType="Consignment">									<!-- 관리자 조건 검색 -->
		select *
		from consignment
		WHERE 1=1
		<if test="keyword != null">
			<if test="select == '전체'">
				and (con_author like '%'|| #{keyword} ||'%' or con_product like '%'|| #{keyword} ||'%')
			</if>
			<if test="select == '작가명'">
				and con_author like '%'|| #{keyword} ||'%'
			</if>
			<if test="select == '작품명'">
				and con_product like '%'|| #{keyword} ||'%'
			</if>
		</if>		
			<if test="strDate != null and endDat == null">
				and CON_CREATE_DATE <![CDATA[ >= ]]> #{strDate}
			</if> 
			<if test="strDate == null and endDat != null">
				and CON_CREATE_DATE <![CDATA[ <= ]]> #{endDat}
			</if> 
			<if test="strDate != null and endDat != null">
				and CON_CREATE_DATE between #{strDate} and #{endDat}
			</if> 
			<if test="status != null">
				and con_del_status = #{status}
			</if>
		order by con_del_status desc, con_adm_status, con_con_status
	</select>	
	
	<select id="selectUser" resultType="Consignment">									<!-- 관리자 상세조회 -->
		select * 
		from consignment
		where con_no=#{conNo}
	</select>
	
	<select id="selectAttmUserList" resultType="Attachment">							<!-- 관리자 첨부상세조회 -->
		select *
		from attachment
		where ATT_STATUS = 'Y'
		<if test="conNo == null">
			and att_fno = 0
		</if>
		<if test="conNo != null">
			and att_bno = #{conNo}
		</if>
		order by att_no
	</select>
	
	<update id="checkDelete">															<!-- 관리자 체크박스 삭제 -->
		update consignment
		set con_del_status = 'N'
		where con_No in
		<foreach item="conNo" collection="array" open="(" separator="," close=")">
			#{conNo}
		</foreach>
	</update>
	
	<update id="updateConConStatus">													<!-- 수락 / 거절 상태 변경 -->
		update consignment
		set con_con_status = #{value}
		where con_no = #{conNo}
	</update>
	
	<select id="selectAuctionMList" resultType="map">									<!-- 수락 / 거절 시간지정하려고 auction 가져옴 -->
		select  auc_start_date, auc_finish_date, auc_cno, auc_mem_id
		from consignment join auction on(con_no = auc_cno)
	</select>
	
	
	
	
	
</mapper>
